{% extends "layouts/layout_security.html" %}

<!-- Already on Page... //-->
{% from "security/_macros.html" import render_field_with_errors, render_field %}
{% include "security/_messages.html" %}
{% block title %}BidBook - Login{% endblock %}

{% block content %}
<div class="container">
<div class="form-group">
<h1>Login to BidBook:</h1>
<form action="{{ url_for_security('login') }}" method="POST" name="login_user_form">
  {{ login_user_form.hidden_tag() }}
  {{ render_field_with_errors(login_user_form.email, class="form-control") }}
  {{ render_field_with_errors(login_user_form.password, class="form-control") }}
  {{ render_field_with_errors(login_user_form.remember, class="form-control") }}
  {{ render_field(login_user_form.next) }}
  {{ render_field(login_user_form.submit) }}
</form>
{% include "security/_menu.html" %}
</div>
</div>

{% endblock %}
