
{% extends "layouts/layout1.html" %}

{% block title %}Contractor Edit{% endblock %}


{% block content %}

    <div class="container">
        <h2>Edit Contractor</h2>
        <form method="post" action="{{ url_for('contractor_post') }}">
            <label>Name:</label>
            <input id="name" name="name" type="text" value="{{ contractor.name }}" />
            <label>Email:</label>
            <input id="email" name="email" type="text" value="{{ contractor.email }}" />
            <input id="id" name="id" type="hidden" value="{{ contractor.id }}" />
            <input id="submit" name="submit-edit" type="submit" />
        </form>
    </div>

{% endblock %}
